body
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#cabecera{
    background-color: blue;
    box-shadow: 0px 7px 63px 3px rgba(0,0,0,0.58);
    color:red;
    margin:0;
    padding:0.5em;
}