body
{
    text-align: center;
    font-family: "Arial";
}
#cabecera{
    background-color: blue;
    box-shadow: 0px 7px 63px 3px rgba(0,0,0,0.58);
    color:white;
    margin:0;
    padding:0.5em;
    font-family: cursive;
}